.signUpFormForm,.signUpForm{
    display: block;
    align-self: left;
    /* padding-top: 35px; */
    background-color: rgba(101, 95, 95, 0.187) !important;
    height: 500px auto;
    text-align: center;
    margin-left: auto;
}


input{
    display: inline-block;
    background-color: rgba(255, 251, 251, 0.275);
    width: 80% ;
    height: 28px;
    color:white;
    font-size: 24px;
    
}
label{
    display: block;
    font-size: 34px;
}
.signUpFormBtn{
    margin-top: 35px;
    padding-bottom: 5px;
}
.signUpFormForm + p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.653);
    cursor: pointer;
}
.signUpFormForm + p + p{
    color: orangered;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.signUpFormForm + p + p:hover{
    color: rgb(242, 131, 61);
}
@media screen and (max-width:1200px) {
    .signUpFormForm,.signUpForm{
        margin-right: auto;
    }
}